$margin: 15px;
$padding: 15px;
$color-border: #d3d3d3;
$color-background: #f8f8f8;
$color-link: #4790cd;

.grid-header,
.grid-header-row,
.grid-footer-row {
  width: 100%;
  overflow: hidden;
  border-left: 0px !important;
}

.grid-header-columns,
.grid-headerrow-columns,
.grid-footerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.grid-column {
  font-weight: bold;
  font-size: 13px;
  background-color: $color-background;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 38px;
  margin: 0;
  padding: ($padding / 3 * 2) $padding;
  border: 0;
  border-right: 1px dashed $color-border;
  border-bottom: 1px solid $color-border;
  float: left;
}

.headerrow-column,
.footerrow-column {
  padding: 4px;
}

.header-column-sorted {
  font-style: italic;
}

.grid-column-sort {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  float: left;
}

.grid-column-sort-desc {
  background: url(images/sort-desc.gif);
}

.grid-column-sort-asc {
  background: url(images/sort-asc.gif);
}

.grid-column-resize {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}

.grid-column-sortable {
  color: $color-link;
}

.grid-canvas {
  position: relative;
  outline: 0;
}

.grid-row, .grid-row {
  position: absolute;
  border: 0px;
  width: 100%;
}

.grid-cell, .grid-headerrow-column , .grid-footerrow-column{
  position: absolute;
  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}
.grid-cell, .grid-headerrow-column{
  border-bottom-color: silver;
}
.grid-footerrow-column {
  border-top-color: silver;
}
 
.grid-group {
}

.grid-group-toggle {
  display: inline-block;
}

.grid-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.grid-cell.flashing {
  border: 1px solid red !important;
}

.grid-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

.grid-cell:focus {
  outline: none;
}

.grid-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

.grid-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.grid-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
